.hedbarStyle {
    display: flex;
    justify-content: center;
    background-color: #5199FF;
    margin: 0px;
    text-emphasis-color: #414042;
    text-decoration: none;
    font: small-caps bold 24px/1 sans-serif;
}
.img {
    width: 180px;
    height: 70px;
    margin: 0px 0px 0px 0px;
}
 
.logoStyle {
    margin: 0px 100px 0px 100px;
    display: flex;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: #FFF;
}

.hedTextStyle {
    margin: 18px 100px 0px 100px;
    display: flex;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: #FFF;
}


