.text {
    text-align: center;
}
.image {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.imageSize {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 0px 32px 0px;
}
.imageRazmer {
    width: 100%;
}